# Main domain for this home server stack.
# Default services are published under this domain:
#   blog.example.com
#   n8n.example.com
STACK_DOMAIN=example.com

# Default service subdomains.
WORDPRESS_SUBDOMAIN=blog
N8N_SUBDOMAIN=n8n
UPTIME_KUMA_SUBDOMAIN=uptime
HOMEPAGE_SUBDOMAIN=home

# MariaDB administrator password.
MARIADB_ROOT_PASSWORD=change-root-password

# WordPress database user password.
# This should be different from MARIADB_ROOT_PASSWORD.
WORDPRESS_DB_PASSWORD=change-wordpress-db-password
