# MariaDB administrator password.
MARIADB_ROOT_PASSWORD=change-root-password

# WordPress database user password.
# This should be different from MARIADB_ROOT_PASSWORD.
WORDPRESS_DB_PASSWORD=change-wordpress-db-password
